####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
#checkPolicies=true
forceCheckAllDependencies=true
#forceUpdate=true
#offline=true
offline.prettyJson=true
wss.url = https://dev.whitesourcesoftware.com/agent

##################################
# Organization tokens:
##################################
apiKey=e0b64144451842f79e9fffb4d0944e01c0ae50bc69ce46ffa685ce4680d3748f
#userKey=
projectName=project_01
projectVersion=
projectToken=

productName=Nuget
productVersion=
productToken=

##################################
# Includes/Excludes Glob patterns
##################################
includes=**/*.java**/*.c**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.gem **/*.tgz **/*.dll **/*.js **/*.py **/*.jar **/*.rb **/*.js **/*.php **/*.rpm **/*.java**/*nupkg**/*.zip
#includes=**/*.zip
#includes=**/*.*
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.c# **/*.csharp
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
#excludes=**/*.jar
case.sensitive.glob=false
followSymbolicLink=true
log.level=debug
#ignoreCertificateCheck=true
#generateScanReport=true
#updateInventory=true
failErrorLevel=ALL
nuget.resolvePackagesConfigFiles=true
#nuget.resolveCsProjFiles=false
nuget.resolveDependencies=true
#nuget.restoreDependencies=true
#nuget.preferredEnvironment=
#nuget.packagesDirectory=
#nuget.ignoreSourceFiles=false
nuget.runPreStep=true
#nuget.resolveNuspecFiles=false
##################################
# Archive Properties
##################################
#archiveExtractionDepth=3
#archiveIncludes=**/*.zip **/*.jar
#archiveExcludes=**/*sources.jar

##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=

##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=3.0.7
